.cardRow{
    color: #fff;
    padding-left: 20px;
}

.card{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.thumbnail{
    max-height: 250px;
    margin-right: 10px;
}

.card::-webkit-scrollbar{
    display: none;
}